 <!-- Site footer -->
 <style>
 /* Checkout button, desplay:static */
.checkoutBtn{
  width: 70px;
  position: fixed;
  bottom: 1px;
  right: 30px;
  cursor:pointer;
  z-index:3;
}

.site-footer{
  position:fixed;
  bottom:0;
  width:100%;
  padding: 5px 0;
}
.textnav{
  font-size: 0.8rem;
}

 </style>
<div class="row site-footer d-flex flex-row pt-3 pb-0 px-1">
    <div class="d-flex flex-row justify-content-around" style="flex:1">
    <a  href="/shop/" class="col d-flex flex-column  justify-content-end">
      <div class="row d-flex flex-column align-content-center"><i class="fas fa-home fa-lg"></i></div>
      <div class="row d-flex flex-column align-content-center text-sm textnav"><b>HOME</b></div>
    </a>
    <a  href="/shop/category" class="col d-flex flex-column  justify-content-end">
      <div class="row d-flex flex-column align-content-center"><i class="fas fa-th fa-lg"></i></div>
      <div class="row d-flex flex-column align-content-center textnav"><b>CATEGORY</b></div>
    </a>
    <a href="#" class="col d-flex flex-column justify-content-center">
      <div class="row d-flex flex-column align-content-center textnav"><i class="fas fa-store-alt fa-lg"></i></div>
    </a>
    <a href="/shop/tracker"class="col d-flex flex-column  justify-content-end">
      <div class="row d-flex flex-column align-content-center"><i class="fas fa-stopwatch-20 fa-lg"></i></div>
      <div class="row d-flex flex-column align-content-center textnav"><b>TRACK</b></div>
    </a>
    <a href="/accounts/account"  class="col d-flex flex-column  justify-content-end">
      <div class="row d-flex flex-column align-content-center"><i class="fas fa-user-circle fa-lg"></i></div>
      <div class="row d-flex flex-column align-content-center textnav"><b>PROFILE</b></div>
    </a>
    </div>
  </div>
</footer>

{% comment %} <a href="checkout">
  <div class="checkout-main">
    <div class="checkoutBtn" style="display: flex; flex-direction: column; align-items: center;">
      <img src="https://res.cloudinary.com/dbvh7sfop/image/upload/v1610582328/media/checkout%20image.png" alt="">
    <p ><strong>CHECKOUT</strong></p>
    </div>
  </div>
</a> {% endcomment %}