 <!-- Site footer -->
 <style>
 /* Checkout button, desplay:static */
.checkoutBtn{
  width: 70px;
  position: fixed;
  bottom: 1px;
  right: 30px;
  cursor:pointer;
  z-index:3;
}

.site-footer{
  position:fixed;
  bottom:0;
  width:100%;
  padding: 5px 0;
}

 </style>

<div class="row site-footer d-flex flex-row">
    <div class="d-flex flex-row justify-content-center" style="flex:1">
    HOME</div>
    <div class="d-flex flex-row justify-content-center" style="flex:1">CATEGORY</div>
    <div class="d-flex flex-row justify-content-center" style="flex:1">SCAN</div>
    <div class="d-flex flex-row justify-content-center" style="flex:1">TRACK</div>
    <div class="d-flex flex-row justify-content-center" style="flex:1">PROFILE</div>
  </div>
</footer>

{% comment %} <a href="checkout">
  <div class="checkout-main">
    <div class="checkoutBtn" style="display: flex; flex-direction: column; align-items: center;">
      <img src="https://res.cloudinary.com/dbvh7sfop/image/upload/v1610582328/media/checkout%20image.png" alt="">
    <p ><strong>CHECKOUT</strong></p>
    </div>
  </div>
</a> {% endcomment %}