{% extends 'shop/basic.html' %}
{% load static %}

{% block css %}
 .card {
    width: 100%;
    height: fit-content;
    }

{% endblock css %}

{% block body %}

<div class="container d-flex justify-content-center">
<br>
<div class="row">
    {% comment %} <col-md-6>
        <div class="card card-body">
           <img src='/media/qrcode/{{order_id}}.png' alt="">
            
        </div>
    </col-md-6> {% endcomment %}
    <col-md-6>
        <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/dbvh7sfop/image/upload/v1610267443/media/qrcode/{{order_id}}.png" class="card-img-top" alt="...">
        <ul class="list-group list-group ">
            <li class="list-group-item " style="font-family:poppins;"><b>Scan this QR to get your order</b></li>
        </ul>

        {% comment %} <ul class="list-group list-group font-weight-bold"> {% endcomment %}
        <ul class="list-group list-group ">
            <li class="list-group-item">Order id : {{order.order_id}}</li>
            <li class="list-group-item ">Total Amount : ₹ {{order.amount}}</li>
            <li class="list-group-item"><b>{{order.email}}</b></li>
            {% comment %} <li class="list-group-item d-flex justify-content-center">{{order.customer.email}}</li> {% endcomment %}
            <li class="list-group-item">+91 {{order.phone}}</li>
        </ul>
        <div class="card-body ">
        <a href="/shop/tracker"><div class="btn btn-danger">Track Order</div></a>
        <a href="/"><div class="btn btn-primary">HOME</div></a>
        </div>
        </div>
    </col-md-6>

        <ul class="list-group " id="items_json{{order_item.order_id}}" >
            <!-- VERY IMPORTANT line to display cart items on checkout page (Also id="items" => helps in triggering <ul>....</ul> to display cart items on checkout page)  -->
            
        </ul>


</div>

</div>









{% include 'shop/footer.html' %}


{% endblock body %}

{% block js %}
<script>

if (localStorage.getItem('cart') == null) {
               var cart = {};
            } else {
               cart = JSON.parse(localStorage.getItem('cart'));
               document.getElementById('cart').innerHTML = Object.keys(cart).length;


            }
</script>
{% endblock js %}
